
:root {
    /* Oxagen Colors */
    --colors-oxagen-cyan: #7CE8F4;
    --colors-oxagen-violet: #7C5AED;
    --colors-oxagen-cosmos: #DF2A5D;
    /* Black Color */
    --colors-black: #16191F;
    /* Gray Colors */
    --colors-gray100: #F9F9FB;
    --colors-gray200: #F4F3F4;
    --colors-gray300: #EEEDF2;
    --colors-gray400: #DBDBE1;
    --colors-gray500: #BEBDC2;
    --colors-gray600: #9E9CA5;
    --colors-gray650: #918F99;
    --colors-gray700: #747281;
    --colors-gray800: #544F69;
    --colors-gray900: #16191F;
    --colors-light-sky: #F6F9FF;
    /* Pastel Colors */
    --colors-pastelError: #FFEFEF;
    --colors-pastelPrimary: #EAF7FF;
    --colors-pastelSuccess: #F0F5E8;
    --colors-pastelWarning: #FFF0E6;
    /* Info Colors */
    --colors-background-info: #2074D5;
    --colors-foreground-info: #FFFFFF;
    /* Error Colors */
    --colors-background-error: #e2320e;
    --colors-foreground-error: #FFFFFF;
    /* Success Colors */
    --colors-background-success: #37A04D;
    --colors-foreground-success: #04200A;
    /* Warning Colors */
    --colors-background-warning: #FF9900;
    --colors-foreground-warning: #1F0A00;
    /* Text Colors */
    --colors-ink-black: #232F3E;
    --colors-ink-grey: #544F69;
    --colors-ink-disabled: #9E9CA5;
    --colors-ink-white: #FFFFFF;
    /* Gradient Colors */
    --colors-gradient-aurora: linear-gradient(90deg, rgba(124, 232, 244, 0.08) 0%, rgba(124, 90, 237, 0.04) 100%);
    --colors-gradient-galaxy: linear-gradient(135deg, rgba(124, 90, 237, 0.70) 0%, rgba(124, 232, 244, 0.70) 100%);
    --colors-gradient-nebula: linear-gradient(90deg, #7CE8F4 0%, #9B5AED 47.92%, #DF2A5D 100%);
    --colors-gradient-sunset: linear-gradient(90deg, #DF2A5D 0.41%, #7C5AED 99.55%);
    /* Shadow Colors */
    --shadows-focus: 0px 0px 16px rgba(32, 116, 213, 0.25);
    --shadows-normal: 0px 4px 40px rgba(51, 0, 102, 0.05);
    --shadows-medium: 0px 4px 24px rgba(8, 37, 70, 0.08);
    --shadows-bold: 0px 4px 32px 4px rgba(8, 37, 70, 0.18);

}